
# Azure Container Registry (ACR) Credentials
REGISTRY_LOGIN_SERVER=todoregistry166.azurecr.io
REGISTRY_USERNAME=todoregistry166
REGISTRY_PASSWORD=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Azure App Service Details
APP_NAME=django-todo-app-7470
RESOURCE_GROUP=django-todo-rg


